[Unit]
Description=Gunicorn — CS50x Anzali Hub
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/cs50hub/flask-app
EnvironmentFile=/var/www/cs50hub/flask-app/.env
ExecStart=/var/www/cs50hub/venv/bin/gunicorn --workers 2 --bind 127.0.0.1:5000 wsgi:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
